// fonts

$montserrat: 'Montserrat', sans-serif;
$crimson: 'Crimson Text', serif;

//Colores
$azulm: #151B29;
$griso: #8B909D;
$grisc: #cecece;
$verdev: #829C2C;
$naranjoc: #D89B64;
$grisc2: #d7d7d7;
$azulos: #161B29;
$azulcl: #485471;
